<% if( list_link !== null && list_link_title !== null) { %>
    <a id="list_link" href="<%- list_link %>"><i
            class="icon-chevron-left icon-no-underline"></i><span><%- list_link_title %></span></a>
    <% } %>
    
    <% if (insufficient_permissions){ %>
    <div class="no_permissions_dialog" id="no_permissions">
        <div class="padlock"></div>
        <div class="dialog_message">You do not have the necessary capability required to whitelist rules. Please
            contact your Splunk administrator.
        </div>
    </div>
    <% } else { %>
    
    
    <div id="item-data-table" class="widget">
        <div>
            <div class="widgeterror"></div>
        </div>
    </div>

    <div class="table-loading-message" id="loading">Loading conditions...</div>
    
    <div id="tableEditor">
        
        <div id="mainControls" class="row justify-end">
            <input type="hidden" id="returnto" name="returnto" value=""></input>
            <a href="#" id="save" class="btn btn-primary">Save</a>
            <a href="#" id="cancel" class="btn label_from_data">Cancel</a>
        </div>

        <form>
            <input type="hidden" id="rule-key" name="rule-key" value="">
            
            <div class="row">
                <div class="col col-33">
                    Title: <br>
                    <input type="text" name="rule-title" id="rule-title" />
                </div>
                <div class="col col-33">
                    Match type: <br>
                    <select id="rule-match-type">
                        <option value="all">All (AND)</option>
                        <option value="any">Any (OR)</option>
                    </select>
                </div>
                <div class="col col-33">
                    Rule type: <br>
                    <select id="rule-type">
                        <option selected value="base">PLEASE SELECT</option>>
                    </select>
                </div>
            </div>

            
            <div class="row">
                <div class="col col-33">
                
                    <label for="desc">Description:</label>
                    <textarea class="full-width" name="rule-description" id="rule-description" cols="80" rows="5"></textarea>
                </div>
                
                <div class="col col-33">
                
                    <label for="description2">Scope:</label>
                     <textarea class="full-width" name="rule-scope" id="rule-scope" cols="80" rows="5"></textarea>
                </div>
                
                <div class="col col-33">
                
                    <label for="desc">Comment:</label>
                    <textarea class="full-width" name="rule-comment" id="rule-comment" cols="80" rows="5"></textarea>
                </div>    
                    
            </div>
            

            <div class=row >
                <div class="col col-33">
                    Start date: <br>
                    <input type="date" name="rule-startDate_date" id="rule-startDate_date" style="width:40%">
                    <input type="time" name="rule-startDate_time" id="rule-startDate_time" style="width:auto">
                </div>
                <div class="col col-33">
                    End date: <br>
                    <input type="date" name="rule-endDate_date" id="rule-endDate_date" style="width:40%">
                    <input type="time" name="rule-endDate_time" id="rule-endDate_time" style="width:auto">
                </div>
                <div class="col col-33">
                </div>
            </div>
        </form>
    
        <div id="dataTable" style="padding-top: 20px; width: 100%"></div>
    
    </div>
    <% } %>
    