<div tabindex="-1" class="import-json-modal modal fade in hide">
    <div class="modal-header">
        <button type="button" class="close btn-dialog-close" data-dismiss="modal">x</button>
        <h3 class="text-dialog-title">Import JSON files</h3>
        You can import one or multiple JSON files in Event Masker using this form. You can download <a class="download_json" href="../../static/app/event_masker/example.json" download>here</a> an example file of the requested JSON structure.
    </div>
    <div class="modal-body form form-horizontal modal-body-scrolling" style="padding-left: 0px; padding-right: 0px;">
        <div id="multiple_files-controls" class="control-group shared-controls-controlgroup">
            <label class="control-label" for="multiple_files">
                Files: </label>
            <div id="multiple_files_div" class="controls ">
                <input type="file" name="multiple_files" id="multiple_files" accept="application/JSON" multiple/>
                <span class="help-inline"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-dialog-cancel label_from_data pull-left" data-dismiss="modal"
           style="display: inline;">Cancel</a>
        <div class="loading pull-left"></div>
        <a href="#" id="importButton" class="btn btn-primary pull-right save import-json-files" style="display: inline;">Import</a>
    </div>
</div>

<div id="table-container" ></div>
<script type="text/x-template" id="rule-list-template">

        <% if(allow_editing_collection && !insufficient_permissions){ %>
    <a href="#" class="btn btn-primary pull-left add_rule"
       style="position: relative; top: 22px; margin-right: 10px; display: block;z-index: 1000;">Add Rule</a>

       <a href="#" class="btn btn-primary pull-left export_json"
       style="position: relative; top: 22px; margin-right: 10px; display: block;z-index: 1000;">Export</a>
       <a href="#" class="btn btn-primary pull-left select_json_files"
       style="position: relative; top: 22px; margin-right: 10px; display: block;z-index: 1000;">Import</a>
        <div id="selectedLinks" style="display:none">
            <a href="#" class="btn btn-primary pull-left export_selected_json"
            style="position: relative; top: 22px; margin-right: 10px; display: block;z-index: 1000;">Export selected</a>
            <a href="#" id="deleteSelected" class="btn btn-primary pull-left delete_selected"
            style="position: relative; top: 22px; margin-right: 10px; display: block;z-index: 1000;">Delete selected</a>
            <a href="#" id="enableSelected" class="btn btn-primary pull-left enable_selected"
            style="position: relative; top: 22px; margin-right: 10px; display: block;z-index: 1000;">Enable selected</a>
            <a href="#" id="disableSelected" class="btn btn-primary pull-left disable_selected"
            style="position: relative; top: 22px; margin-right: 10px; display: block;z-index: 1000;">Disable selected</a>
        </div>
        <% } %>
    <div style="margin-top: auto;"></div>
    <table id="table"  class="table table-striped display">
        <thead>
        <tr>
            <th class=all></th>
            <th class=all>Key</th>
            <th class=all>Title</th>
            <th class=all>Description</th>
            <th class=all>Match Type</th>
            <th class=all>Rule Type</th>
            <th class=all>Scope</th>
            <th class=all>Comment</th>
            <th class=all>Conditions</th><% if (!insufficient_permissions){ %>
            <th class=all>Start date</th>
            <th class=all>End date</th>
            <th class=all>Creation date</th>
            <th class=all>Creation User</th>
            <th class=all>Last modified</th>
            <th class=all>Modification User</th>
            <th class=all>Disabled</th>
            <th class=all>Actions</th> <% } %>
        </tr>
        </thead>
        <tbody>
            <% for(var c = 0; c < rules.length; c++){
                rule = rules[c];                
                //editorUrl = "o";
                editorUrl = editor + "?" + $.param( { 'key': rule._key } );
                nbConditions = 0;
                if (rules[c].conditions != undefined) {
                    nbConditions = rules[c].conditions.length;
                }
            %>
        <tr>
            <td></td>
            <td><%- rules[c]._key %></td>
            <td><a href="<%- editorUrl %>"><%- rules[c].title %></a></td>
            <td><%- rules[c].description %></td>
            <td><%- rules[c].match_type %></td>
            <td><%- rules[c].type %></td>
            <td><%- rules[c].scope %></td>
            <td><%- rules[c].comment %></td>
            <td><%- nbConditions %></td>
            <td><%- rules[c].startDate %></td>
            <td><%- rules[c].endDate %></td>
            <td><%- rules[c].creationDate %></td>
            <td><%- rules[c].creationUser %></td>
            <td><%- rules[c].modificationDate %></td>
            <td><%- rules[c].modificationUser %></td>
            <td><%- rules[c].disabled %></td>

            <% if(!insufficient_permissions){ %>
            <td>
                <% if(allow_editing_collection){ %>
                <% if(rules[c].disabled){ %>
                <a class="enable_rule" data-disabled="false" data-key="<%- rule._key %>"
                   href="#">Enable</a> |
                <% } else { %>
                <a class="disable_rule" data-disabled="true" data-key="<%- rule._key %>"
                   href="#">Disable</a> |
                <% } %>
                <a class="edit_rule" data-key="<%- rule._key %>"
                   data-title="<%- rule.title %>"
                   data-type="<%- rule.type %>" data-scope="<%- rule.scope %>"
                   data-comment="<%- rule.comment %>"
                   href="#">Edit Rule</a>
                | <a class="remove_rule" data-key="<%- rule._key %>" href="#">Remove</a>
                | <a class="clone_rule" data-key="<%- rule._key %>" href="#">Clone</a>
                | <a class="rule_log" data-key="<%- rule._key %>" href="/app/event_masker/masker_audit_logs?form.tk_time.earliest=-24h%40h&form.tk_time.latest=now&form.rule=<%- rule._key %>">Logs</a>
                <% } %>
            </td>
            <% } %>
        </tr>
            <% } %>
        </tbody>
    </table>
</script>
