#list_link {
    display: block;
    margin-bottom: 16px;
}

.dialog_message {
    padding-top: 12px;
}

#cancel {
    float: left;
}

#save {
    float: right;
}

#dataTable {
    height: 600px;
    overflow: auto;
}